
  .bgLogInImage{
    background-image:
    url("background.jpeg");
   background-size: cover;
   background-position: center;
  }
  .header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  